
    <footer>
        <div class="footer--list">
          <section class="footer--section">
            <img id='logo--banner' src="/images/Logo-Krak-Miami---version-blanco.png" alt="">
          </section>

          <section class="footer--section">
                <p class="footer--title">Proyectos</p>
                <div class="footer--text">
                    <ul>
                        <a href="#">
                            <li>Miami</li>
                        </a>
                        <a href="#">
                            <li>Otras Ciudades</li>
                        </a>
                    </ul>
                </div>
            </section>
          <section class="footer--section">
                <p class="footer--title">Compañia</p>
                <div class="footer--text">
                    <ul>
                        <li>Nuestras Oficinas</li>
                        <li>Nuestra Historia</li>
                        <li>Socios y Afiliados</li>
                        <li>Prensa</li>
                    </ul>
                </div>
          </section>

          <section class="footer--section">
                <p class="footer--title">Follow Krak Miami</p>
                    <div class="footer--text">
                        <p class="footer--last">Ofertas exclusivas, ultimas <br> novedades y las mejores ofertas <br> de propiedades. #krakmiami</p>
                        <ul>
                            <li> <i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-instagram"></i> <i class="fab fa-pinterest"></i> </li>
                        </ul>
                    </div>
          </section>
        </div>
                <p class="copyright">© 2021 Matías Maldonado, Inc. All Rights Reserved. Terms, Privacy & Accessibility</p>
            
        </footer>
        <script src="js/burger.js"></script>
        <script src="js/show.js"></script>
</body>
</html>