<!DOCTYPE html>
<html>
  <head>
    <title>Krak Miami</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/carrousel.css' />
  </head>
  <body>
    <header>
      <%- include('partials/navbar')  %> 
    </header>
    <section class="main">
      <!-- Banner -->
      <div class="banner">
        <div class="ghost"></div>
        <p class="title">BIENVENIDOS A <span><img id='logo--banner' src="/images/Logo-Krak-Miami---version-blanco.png" alt=""></span></p>
      </div>

      <!-- Frame 2 -->
      <div class="frame2">
        <div class="frame2-1">
          <p class="subtitle">¿Que es Krak Miami?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odit iste impedit similique! Fuga harum eos, quibusdam architecto voluptas numquam enim quis. Totam reprehenderit quas ullam numquam consequuntur a sint.</p>
          <!-- <img src="/images/pexels-arnie-watkins-3773651.jpg" alt=""> -->
        </div>
        <div class="frame2-3">
          <img src="/images/pexels-arnie-watkins-3773651.jpg" alt="">
        </div>
        
      </div>

      <!-- Frame 3 -->

      <div class="frame3">
        <div class="frame3-block">
          <!-- Slideshow container -->
          <div class="slideshow-container">

            <!-- Full-width slides/quotes -->
            <div class="mySlides">
              <section class="slide-text">
                <div>
                  <p class="slide-number">1.</p>
                </div>
                <div>
                  <p class="subtitle">¿Cómo podemos ayudarte?</p>
                  <p class="author">Lorem ipsum dolor sit amet consectionctetur adipisicing elit. Illum unde facere fugiat, vero modi voluptates dolores dolor nesciunt, illo nisi consectionquuntur porro quo quidem mollitia ex iusto quis, quam architecto?</p>
                </div>
              </section>
            </div>

            <div class="mySlides">
              <section class="slide-text">
                <div>
                  <p class="slide-number">2.</p>
                </div>
                <div>
                  <p class="subtitle">¿Cómo podemos ayudarte?</p>
                  <p class="author">Lorem ipsum dolor sit amet consectionctetur adipisicing elit. Illum unde facere fugiat, vero modi voluptates dolores dolor nesciunt, illo nisi consectionquuntur porro quo quidem mollitia ex iusto quis, quam architecto?</p>
                </div>
              </section>
            </div>

            <div class="mySlides">
              <section class="slide-text">
                <div>
                  <p class="slide-number">3.</p>
                </div>
                <div>
                  <p class="subtitle">¿Cómo podemos ayudarte?</p>
                  <p class="author">Lorem ipsum dolor sit amet consectionctetur adipisicing elit. Illum unde facere fugiat, vero modi voluptates dolores dolor nesciunt, illo nisi consectionquuntur porro quo quidem mollitia ex iusto quis, quam architecto?</p>
                </div>
              </section>
            </div>

            <!-- Next/prev buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>

          <!-- Dots/bullets/indicators -->
          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
      </div>

      <!-- Frame 4 -->

      <div class="frame4">
        <div class="frame4-1">
          <p class="subtitle">Pool de inversión</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odit iste impedit similique! Fuga harum eos, quibusdam architecto voluptas numquam enim quis. Totam reprehenderit quas ullam numquam consequuntur a sint.</p>
          <button class="btn-renta">QUIERO MI RENTA</button>
        </div>
        <div class="frame4-3">
          <img src="/images/pexels-jacoby-clarke-1294149.jpg" alt="">
        </div>
        
      </div>

      <!-- Frame 5 -->

      <div class="frame5">
        <div class="frame5-1">
          <p class="subtitle">Pre-Construcción</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odit iste impedit similique! Fuga harum eos, quibusdam architecto voluptas numquam enim quis. Totam reprehenderit quas ullam numquam consequuntur a sint.</p>
          <button class="btn-renta">QUIERO MI RENTA</button>
        </div>
        <div class="frame5-3">
          <img src="/images/pexels-live-on-shot-3665354.jpg" alt="">
        </div>
        
      </div>

      <!-- Frame 6 -->

      <div class="frame6">
        <div class="frame6-3">
          <img src="/images/pexels-rodnae-productions-8249296.jpg" alt="">
        </div>
        
      </div>


      <!-- Frame 7 -->

      <div class="frame7">
        <div class="frame7-1">
          <p class="subtitle">Pre-Construcción</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odit iste impedit similique! Fuga harum eos, quibusdam architecto voluptas numquam enim quis. Totam reprehenderit quas ullam numquam consequuntur a sint.</p>
          <button class="btn-renta">QUIERO MI RENTA</button>
        </div>
        <div class="frame7-3">
          <img src="/images/krakMIAMI-21.jpg" alt="">
        </div>
        
      </div>

      <!-- Frame 8 -->
      
      <div class="frame8">
        <div class="frame8-3">
          <img id="banner8" src="/images/pexels-antonio-cuellar-4366058.jpg" alt="">
        </div>
        <div class="frame8-1">
          <p class="title-2">Descargate nuestra guía para invertir en Miami</p>
          <button class="btn-renta">QUIERO INVERTIR</button>
        </div>

      </div>

      <div class="video">
        <video width="320" height="240" controls>
          <source src="/videos/miami.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>


      <!-- Frame 9 -->
      <div class="frame9">
        <div class="frame9-1">
            <img id="img9" src="/images/pexels-antonio-cuellar-4366058.jpg" alt="">
            <div class="overlay">
              <div class="text">Inversiones</div>
            </div>
        </div>
        <div class="frame9-2">
            <img id="img9" src="/images/pexels-live-on-shot-3665354.jpg" alt="">
            <div class="overlay2">
              <div class="text">Multi-Family</div>
            </div>
        </div>
        
      </div>


      

    </section>
    <footer>
      <%- include('partials/footer')  %> 
    </footer>

    <script src="/javascripts/burger.js"></script>
    <script src="/javascripts/carrousel.js"></script>
  </body>
</html>
